In [1]:
#data structure

#tuples-- sequeces
#list-sequences
#dictionaries--mappings
#generator

#sequeces are iterables with random access

In [5]:
t=(1,2,3,4,5,10,10,10)
print(t)
s=1,2,3,4,5,9,2
print(s)
m=("murali","dharan","thiraviyam","gokul","murali")
m.count("murali")

(1, 2, 3, 4, 5, 10, 10, 10)
(1, 2, 3, 4, 5, 9, 2)

2

In [6]:
print(t[1])
t.index(10)
s.count(9)
print(len(t))

2
8

In [7]:
print(len(t))
print(max(t))
print(min(t))

8
10
1

In [8]:
m=2000
m in t

False

In [9]:
22 not in t

True

In [3]:
mu=(2,3,5.1,6.2,7.3,"murali")
for m in mu:
    if "murali"  in mu:
        print(m)

2
3
5.1
6.2
7.3
murali

In [12]:


count=0
for i in  t:
    count=count+i
print(count)
print(sum(t))

45
45

In [9]:
#tuples are immutable no changes

numbers=2,3,4,33,5,6,7,44,56,7,9,36,90,12,89

print(sum(numbers))

403

In [10]:
temp=0
for s in numbers:
    temp=temp+s
print(temp)

403

In [11]:
t=1,2,3,4,5,6,1
for i in t:
    print(i)

1
2
3
4
5
6
1

In [12]:
#list

#in lists order of elements matter
#lists can contain heterogenous data types

l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [13]:
range(10)

range(0, 10)

In [11]:
l=list(range(10))
print(l,type(l))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [15]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
a=[1,2,3,4,5]
a[2]=21
print(a)

[1, 2, 21, 4, 5]

In [15]:
a.sort()
print(a)

[1, 2, 4, 5, 21]

In [18]:
a.append(1000)
print(a)

[1, 2, 4, 5, 21, 1000]

In [19]:
#lists are mutable (change the value) also hetrogenious

#inser have two parameter one in position other is insertable value

a.insert(4,200)
print(a)
for item in a:
    print(f"---> {item}")

[1, 2, 4, 5, 200, 21, 1000]
---> 1
---> 2
---> 4
---> 5
---> 200
---> 21
---> 1000

In [20]:
#extend only merge two list(not add single value) if add single value use append
a.extend([30,40,50])
print(a)

[1, 2, 4, 5, 200, 21, 1000, 30, 40, 50]

In [19]:
#normal method to merge two list
z=[1,2,3,4]
v=[12,3,4]
y=z+v
print(y)
a=a+[1000,2000.33]

print(a)

[1, 2, 3, 4, 12, 3, 4]
[1, 2, 4, 5, 21, 1000, 2000.33, 1000, 2000.33]

In [22]:
#did not use
a.extend(100)
print(a)

TypeError: 'int' object is not iterable

In [ ]:

a=range(20,30)
print(len(a))
print(min(a))
print(max(a))

In [ ]:
#slicing -inclusions and exclusions

squares=[x*x for x in range(0,10)]
print(squares)

In [ ]:
#shows 0 index to 5th index

squares[0:6]

In [ ]:
squares[:5]
#starting point to 4th index

In [ ]:
#show last index to given index
squares[7:]

In [ ]:
squares[3:8]

In [ ]:
#find last index and show
squares[-1]

In [ ]:
squares[-5:-1]

In [20]:
#squares also use modify the value
print(squares)
squares[1:3]=['2','3']
squares

[1, 2, 0, 1, 2]

NameError: name 'squares' is not defined

In [ ]:
del squares #for deleting whole list

del squares[1] #for single index #[2:3] for given index

In [ ]:
#generate 20 random numbers (between 1 and 10) and add it to a list

#display the first and the last number
#sort the numbers and display the list
#print the mode (number appperring maximum number of times)

In [25]:
from random import random

In [30]:
#a random number show normally
random()*10

9.648231792784252

In [26]:
int(random()*10)+1
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [61]:
from random import random

a=[]
for i in range(30):
    a.append(int(random()*10)+1)
    a.sort()
print(a)

[1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9]

In [28]:
# display the first and last number

print("first is",a[0])
print("last is",a[-1])

first is 6
last is 2

In [29]:
#sort the number and display the list
a.sort()
print(a)

[1, 1, 1, 2, 2, 3, 4, 4, 4, 4, 5, 6, 7, 7, 7, 8, 9, 10, 10, 10]

In [32]:
#print mode(most of series ) in the list

import statistics

print(statistics.mode(a))

4

In [34]:
#totals of section a and section b of class x is given below
#find the topper of class x

a=[671,895,923,871,899,453]
b=[970,921,869,821,673,769,922,982]
a.extend(b)
print(max(a))

982

In [40]:
#dictinoaries,
#mutable and keys are unique and case sensitive

capitals={"India":"new delhi","France":"paries","Rome":"italy",'Uk':'london'}
print(capitals)

{'India': 'new delhi', 'France': 'paries', 'Rome': 'italy', 'Uk': 'london'}

In [40]:
capitals['India']

'new delhi'

In [41]:
capitals['Spain']='Madrid'
print(capitals)

{'India': 'new delhi', 'France': 'paries', 'Rome': 'italy', 'Uk': 'london', 'Spain': 'Madrid'}

In [42]:
morecapitals={'Malaysia':['kaula lumpur','Puturajaya'],"Germany":"berlin","Uk":"London"}
#for merge both dist
capitals.update(morecapitals)

print(capitals)

SyntaxError: can't assign to operator (<ipython-input-42-30fd008d6d27>, line 1)

In [43]:
#key only have hash value(primitive datatypes) does not take list as key

somemorecapitals={['isral','palastene']:'Jerusalem'}

TypeError: unhashable type: 'list'

In [44]:
#only hashable contents can be used as keys
for key in capitals:
    print(f"{key}:{capitals[key]}")

India:new delhi
France:paries
Rome:italy
Uk:London
Spain:Madrid
Malaysia:['kaula lumpur', 'Puturajaya']
Germany:berlin

In [45]:
for key in capitals.keys():
    print(key)

India
France
Rome
Uk
Spain
Malaysia
Germany

In [46]:
for key in capitals.values():
    print(key)

new delhi
paries
italy
London
Madrid
['kaula lumpur', 'Puturajaya']
berlin

In [ ]:
for key,value in capitals.items():
    print(f"{key}--->{value}")

In [47]:
details=dict(Name='raj',Age=20,Address='chennai')
print(details)

{'Name': 'raj', 'Age': 20, 'Address': 'chennai'}

In [48]:
#view the details
details['Name']

'raj'

In [49]:
#not have key in
details['Salary']

KeyError: 'Salary'

In [50]:
#method for get attribute
#dictonaires also mutable

details.get('Age',10)

20

In [51]:
#mutable

capitals={"India":"Delhi","France":"Paris","Rome":"Italy","Uk":"London"}
print(capitals)
del capitals['Uk']
print(capitals)

{'India': 'Delhi', 'France': 'Paris', 'Rome': 'Italy', 'Uk': 'London'}
{'India': 'Delhi', 'France': 'Paris', 'Rome': 'Italy'}

In [52]:
#Update the new keyvalue in dict
capitals['India']="New Delhi"
print(capitals)

{'India': 'New Delhi', 'France': 'Paris', 'Rome': 'Italy'}

In [36]:
#create dictionary with names and marks of 5 students
#display the name and total of each student

student={"Murali":[100,200,300],"thira":[100,200,400],"Mani":[100,200,500],"Arun":[100,200,600],"Umar":[100,200,700]}
print(student)

{'Murali': [100, 200, 300], 'thira': [100, 200, 400], 'Mani': [100, 200, 500], 'Arun': [100, 200, 600], 'Umar': [100, 200, 700]}

In [64]:
#display the name and total of each student
m={"Murali":[100,200,300],"thira":[100,200,400]}
for k,l in m.items():
    print(k,l)

Murali [100, 200, 300]
thira [100, 200, 400]

In [65]:
from random import random
b=[]
for i in range(20):
    b.append(int(random()*10+1))
print(b)

[10, 3, 2, 9, 9, 2, 4, 3, 8, 10, 6, 2, 4, 2, 5, 8, 8, 8, 4, 9]

In [67]:
c=[]
for m in b:
    if m not in c:
        c.append(m)
        c.sort()
        
print(c)

[2, 3, 4, 5, 6, 8, 9, 10]

In [88]:
total = 0
  

for i in range(0, len(b)):
    
    total = total + b[i] 
print(len(b))
print("Sum of all elements in given list: ", total) 

for i in range(0, len(b)):
    
    total = total + b[i] 
print(len(b))
print("Sum of all elements in given list: ", total)

20
Sum of all elements in given list:  116
20
Sum of all elements in given list:  232