In [1]:
#function
#usual functions

f=10
def func():
    f="hi"
    print(f)

func()

hi

In [4]:
#global vs local variable

f=10
def func():
    f="hi"
    print(f)
func()
print(f)

hi
10

In [3]:
f=10
def func():
    
    s="hi"
    print(f,s)
func()

10 hi

In [5]:
#with parameter
def sum1(a,b):
    c=a+b
    return c
x=2
y=5
z=sum1(x,y)
print(z)

7

In [22]:
def power(n,x=1):
    return n**x
print(power(5,2))
print(power(10))
print(power(x=2,n=7))

25
10
49

In [25]:
def multi(*args):
    result=0
    for i in args:
        result+=i
    return result

print(multi(1,2,3,4))
print(multi(9,8,7,6,5,4))
print(multi(4))

10
39
4

In [20]:
#write 3 functions to find if the given number is armstrong,prime and odd

# generate 10 random three digits numbers

#pass each number to the functions and display theire status accordingly

In [14]:

    
n=15

def arms(n):
    temp=n
    sum=0
    m=len(str(n))
    while(n>0):
        dig=n%10
        sum=sum+(dig**m)
        n//=10
    if(temp==sum):
        print("is armstrong")
    else:
        print("is not armstrong")


def prime(n):
    
    for i in range(2,n+1):
        if (n%i==0):
            print("prime")
        else:
            print("not prime")
        break
        
def odd(n):
    if (n%2==0):
        print("even")
    else:
        print("odd")

        
print(n)       
prime(n) 
odd(n)
arms(n)

15
not prime
odd
is not armstrong

In [12]:
import random 

a=[]

for i in range(10):
    x=random.randint(100,999)
    a.append(x)
    
print(a)

[727, 324, 784, 708, 761, 702, 682, 781, 141, 314]

In [15]:
def flow():
    for i in a:
        print(i)
        arms(i)
        prime(i)
        odd(i)
flow()

727
is not armstrong
not prime
odd
324
is not armstrong
prime
even
784
is not armstrong
prime
even
708
is not armstrong
prime
even
761
is not armstrong
not prime
odd
702
is not armstrong
prime
even
682
is not armstrong
prime
even
781
is not armstrong
not prime
odd
141
is not armstrong
not prime
odd
314
is not armstrong
prime
even

In [17]:
#tricks in python

a,b,c=10,20,30
print(a)
print(b)
print(c)

a,b,c=1020,30,10
print(a,b,c)
a,b,c=c,a,b
print("rearragnged",a,b,c)

10
20
30
1020 30 10
rearragnged 10 1020 30

In [81]:
print(a,b)
a,b=b,a
print(a,b)

20 10
10 20

In [3]:
l=[]
a,b=0,1
print(a)
for _ in range(10):
    print(b)
    a,b=b,b+a

0
1
1
2
3
5
8
13
21
34
55

In [18]:
#date and time

from datetime import date

now=date.today()
print(now)
birthday=date(1975,5,15)
age=now-birthday
print(age)

2019-12-05
16275 days, 0:00:00

In [21]:
import datetime

now=datetime.date.today()
print(now)
birthday=datetime.date(2001,6,3)
age=now-birthday
print(age)

2019-12-05
6759 days, 0:00:00

In [5]:
#dir(age)

In [97]:
age.days

7999

In [4]:
age.days/365

18.50958904109589

In [102]:
ram=date(1987,4,29)
raj=date(1986,6,22)
if(ram>raj):
    print("raj is elder")
else:
    print("ram is elder")

raj is elder

In [104]:
from time import time
start=time()
ram=date(1987,4,29)
raj=date(1986,6,22)
if(ram>raj):
    print("raj is elder")
else:
    print("ram is elder")
end=time()
print(end-start)

raj is elder
0.0010025501251220703

In [106]:
time()

1575269910.2703748

In [108]:
from datetime import datetime
datetime.utcnow()

datetime.datetime(2019, 12, 2, 6, 59, 9, 961881)

In [32]:
#date object ot string
ram=date(1987,4,29)
print(ram)
print(ram.strftime("%d-%m-%y %H:%M:%S"))

ram=date(1987,4,29)
print(ram)
print(ram.strftime("%d/%m/%Y"))

1987-04-29
29-04-87 00:00:00
1987-04-29
29/04/1987

In [17]:
#from Ipython.display import IFrame
#Iframe("url" width='100%',height=250%)

from Ipython.display import IFrame
IFrame("https://www.w3schools.com/python/showpython.asp?filename=demo_function_param2" ,width='100%',height=250 )

ModuleNotFoundError: No module named 'Ipython'

In [129]:
#string to date object
from datetime import datetime

dateString="12/20/2012"
d=datetime.strptime(dateString,"%m/%d/%Y")
print(d)

2012-12-20 00:00:00

In [38]:
from dateutil.parser import parse
dt=parse("Mon Feb 15 2010")
print(dt)
print(dt.strftime('%d/%m/%Y'))


from dateutil.parser import parse

dt=parse("feb 15 2010")
print(dt)
print(dt.strftime("%d/%m/%Y/%a"))

2010-02-15 00:00:00
15/02/2010
2010-02-15 00:00:00
15/02/2010/Mon

In [36]:
from datetime import timedelta
print(dt)
dt+timedelta(days=15)

2010-02-15 00:00:00

datetime.datetime(2010, 3, 2, 0, 0)

In [41]:
#separate the ind variable into date month and year components and display them x use dir()
#ind=datetime(1947,8,15)

from dateutil.parser import parse

d=parse("jan 06 2019 ")
print(d.strftime("%d/%m/%Y/%a"))

06/01/2019/Sun

In [6]:
#exception handling
datetime.date(1947,22,22)

NameError: name 'datetime' is not defined

In [37]:
a=0/0

ZeroDivisionError: division by zero

In [20]:
a,b=0,1
print(a)
for _ in range(10):
    print(b)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55

In [9]:
l=[]

for i in range(100,999):
    if i in range(500,600):
        l.append(i)
        l.sort()
    
print(l)

[500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599]

In [36]:



def rr(start,end):
    l=[]
    for i in range(start,end):
        if(i%7==0 and i%5!=0):
            l.append(i)
            l.sort()
    print(l)

rr(300,400)
  
    
def rs(n):
    a,b=0,1
    print(a)
    print(b)
    for _ in range(n):
        print(b)
        a,b=b,b+1
rs(10)

[301, 308, 322, 329, 336, 343, 357, 364, 371, 378, 392, 399]
0
1
1
2
3
4
5
6
7
8
9
10

In [ ]:
import